nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .brand-container {
      .brand {
        h1 {
          height: 100%;
          color: var(--green);
        }
      }
      .toggle-container {
        display: none;
        .mode {
        }
      }
    }
    .links-container {
      .links {
        list-style-type: none;
        display: flex;
        gap: 4rem;
        li {
          .dark {
            color: black;
          }
          .light {
            color: yellow;
          }
          a {
            color: var(--green);
            text-decoration: none;
          }
        }
      }
    }
  }
  
  [data-theme="light"] {
    nav {
      .brand-container {
        .brand {
          img {
            filter: brightness(0);
          }
        }
      }
    }
  }